span.red {
  color: red;
}

span.blue {
  color: blue;
}

span.green {
  color: green;
}

span.brown {
  color: brown;
}

/* 你可以繼續添加更多顏色 */
span.yellow {
  color: yellow;
}

span.purple {
  color: purple;
}

span.orange {
  color: orange;
}
